.continer_slider{
    width:100vw;
    /* max-height:80vh ; */
    height: fit-content;
    /* background-color: red; */
    overflow-x: hidden;
    /* z-index: 10000000000; */
}
.continer_slider .first_s{
    z-index: 200;
    position: relative;
    /* color: white; */
    /* background-color: red; */
    left: 23rem;
    top: 2rem;
    font-size: 7rem;
}
.continer_slider .second_s{
    /* color: white;   */
    z-index: 200;
      position: relative;
      /* background-color: red; */
      left: 32rem;
      top: 2rem;
    font-size: 7rem;
}
.continer_slider .lineee{
    width: 60vh;
    height: 3px;
    background-color: black;
    position: relative;
    top: 2rem;
    left: 28rem;

}
.continer_slider h5{
    position: relative;
    font-size: 2rem;
    top: 3rem;
    left: 29rem;
}
.img0{
    position: relative;
    top: -12rem;
    object-fit: cover;
    left: 6rem;
}
.img1,.img3,.img5{
    object-fit: cover;
    position: relative;
    top: -32rem;
    left: 62rem;
}
.img0text,.img4text{
    position: relative;
    top:-12rem;
    left: 7rem;
    /* text-align: center; */
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.4rem;
}
.img1text,.img3text,.img5text{
    position: relative;
    top: -32rem;
    left: 67rem;
    /* text-align: center; */
    /* width: 200px; */
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.4rem;
}
.img2text{
    position: relative;
    top:-12rem;
    left: 8.5rem;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.4rem;
}
.img3,.img5{
    top: -36rem;
    left: 65rem;
}
.img3text{
    top: -40rem;
    left: 71rem;
    font-weight: 900;
}
.img4text{
    top:-12rem;
    left: 13rem;
}
.img5{
    top: -39rem;
    left: 61rem;
    height: 400px;
}
.img5text{
    top: -39rem;
    left: 65rem;
    font-weight: 900;
}
.img3{
    top: -40rem;
    left: 65rem;
}
