.loaderPageLevel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.firstOf {
    padding-left: 1rem;
    padding-right: 1rem;
}

.secondOf {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
    max-width: 1280px;
}

.thirdOf {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.flowwww {
    display: flow-root;
}

.fourthOf {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fifthOf {
    display: flex;
    padding: 1.25rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 0.75rem;
    margin-top: 0.875rem;
    flex-direction: column;
    text-align: left;
    background-color: #E5E7EB;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.diss {
    display: flex;
}

.sixthOf {
    margin-bottom: 0.75rem;
    flex: 1 1 0%;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
}

.seventhOf {
    display: flex;
    align-items: center;
}

.eightOf {
    margin-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #111827;
}

.nineOf {
    margin-right: 0.75rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: #111827;
}

.smalChngeOf {
    display: flex;
    gap: 0.5rem;
}

.imagOFOFOF {
    object-fit: cover;
    border-radius: 0.5rem;
    width: 6rem;
    max-width: 100%;
    height: 6rem;
}

.smlsmlml {
    display: flex;
    gap: 1.25rem;
}

.buthonIgOF {
    display: inline-block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-top: 1.25rem;
    margin-right: 1.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #000000;
    cursor: pointer;
}

@media (min-width: 640px) {
    .firstOf {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .secondOf {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .thirdOf {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem
    }
}

@media (min-width: 1024px) {
    .firstOf {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .secondOf {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}