.card {
    width: 260px;
    height: 320px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* margin-top: 50px; */
    margin-bottom: 5px;
    /* background-color: red; */
}

.card .images_card {
    width: 100%;
    height: 320px;
    overflow: hidden;
    position: relative;

}

.card .images_card img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    object-fit: cover;
    position: absolute;
    cursor: pointer;
}

.card .images_card .mainImage {
    z-index: 1;
}

.card .images_card:hover .secondImage {
    z-index: 2;
}

.card .images_card span {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: white;
    color: teal;
    padding: 3px 5px;
    z-index: 3;
    font-weight: 500;
    font-style: 12px;
}

.card h2 {
    font-size: 16px;
    font-weight: 500;
}

.card .prices_cards {
    display: flex;
    gap: 20px;
}

.card .prices_cards h3 {
    font-size: 18px;
    font-weight: 500;
}

.card .prices_cards h3:first-child {
    color: gray;
    text-decoration: line-through;
}

.span_component {
    color: #fff;
    display: flex;
    /* gap: 10px; */
    justify-content: center;
    align-items: center;
}