*{
    margin:0;
    padding:0;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
}
.navbar{
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
}
.left  h3{
    color: #000;
    font-size: 2.5vh;

}
.right{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 2rem;
    
}
.right .item{
    font-size: 2.2vh;
    font-weight: 500;
}
.cartIcon{
    position: relative;
}
.number{
    position: absolute;
    background-color: blueviolet;
    padding: 0.4vh;
    width: 15px;
    height: 23px;
    align-items: center;
    justify-content: center;
    top: -1.7vh;
    left: 1vh;
    border-radius: 50%;
    /* border-radius: 15px; */
}