.slide_slide{
    /* max-height: 100vh; */
    /* position: fixed; */
    /* height: calc(100vh-80px); */
    width: 100vw;
    /* overflow-x: hidden; */
    position: relative;
}
.slide_container{
    width: 300vw;
    overflow-y: hidden;
    overflow-y: none;
    max-height: 80vh;
    display: flex;
}
.icons{
    width: fit-content;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    gap: 10px;
    margin: auto;
}
.icon{
    width: 50px;
    height: 50px;
    border: 1px solid #999;
    display: flex;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.icon:hover{
    background-color: #777;
}
body{
    min-height:100vh ;
    width: 100vw;
    overflow-x: hidden;
}